body
{
	background-color: #82ccdd;

}
main{
	background-image: url('../img/animated-project-management-cogs-gif.gif');
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
}
header{
	position: sticky;
	height: 76px;
	top: 0px;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
h1,h2, h3{
	text-align: center;
	margin: 10px;
	text-shadow: 5px 5px 10px black;
}
.title{
	margin: 10px;
}
nav{
	background-color: #60a3bc;
}
a{
	transition: transform .2s;
}
a:hover{
	border-radius: 5px;
	color: white;
	background-color: #82ccdd;
	-ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
}
img{
	max-height: 50px;
}
footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	bottom: 0px;
	height: 100px;
	width: 100%;
	background-color: #60a3bc;
	text-align: center;
	margin-top: 20px;
	box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.5);
}

p{
	margin-bottom: 0px;
}
section{
	display: flex;
	flex-wrap: wrap;
}
article{
	margin: 10px;
}
.lorem{
	background-color: #60a3bc;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dropdown-menu{
	background-color: #82ccdd;
}
#form{
	margin: auto;
	width: 80%;
}
.infoMessage{
	display: flex;
	background-color: white;
	text-align: center;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
}
.infoMessage p{
	color: #82ccdd;
	font-size: 2rem;
	font-weight: bold;
	align-items: center;
	padding: 10px;

}

.username-available {
	color:green;
}
.username-unavailable {
	color:red;
}
