{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Home{% endblock %}

{% block body %}
<main>
<div class="title">
    <h1>WF3</h1>
    <h2>Project manager</h2>
</div>
</main>
{% endblock %}
