<footer>
	<img alt="symfony logo" src="https://symfony.com/logos/symfony_black_03.png">
	<img alt="silex logo" src="https://qarea.com/blog/wp-content/uploads/2014/10/silex.png">
	<p>Lorem ipsum dolor sit amet, consectetur i officia deserunt mollit anim id est laborum.</p>
	<img alt="doctrine logo" src="https://qarea.com/blog/wp-content/uploads/2014/10/doctrine-logo.png">
	<img alt="composer logo" src="https://qarea.com/blog/wp-content/uploads/2014/10/logo-composer-transparent.png">
</footer>