<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WF3PM</title>
    </head>
    <body>
    	<section style="background-color:#82ccdd;border-radius:10px;padding:10px">
            <p>Hello {{ user.getUsername() }}</p>
            <p>
            	Please click on the following link, to confirm your email addresse!
            </p>
            <a href="{{ absolute_url(path('activate_user', {'token':user.getEmailToken})) }}">
            	{{ absolute_url(path('activate_user', {'token':user.getEmailToken})) }}
            </a>
        </section>
	</body>
</html>