{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}}-Register
{% endblock %}

{% block body %}
	<h1>{{ 'USER.TITLE' | trans }}</h1>
	{{ form(registerUserFormular) }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/register.js"></script>
{% endblock %}